.borda {
	border: 1px solid #cecece;
	margin: 0 10px;
}
.interessante {
	font-style: italic;
}
.label {
	font-weight: bold;
}
.lista {
	list-style: none;
}
.main {
	width: 315px;
	padding: 5px 10px;
	box-shadow: 5px 5px #dcdcdc;
}
h1 {
	margin: 0 10px;
}
.img {
	margin-left: 10px;
	height: 200px;
	width: 300px;
	padding-bottom: 10px;
}
ul {
	padding: 0;
}
.conteudo {
    width: 290px;
    padding: 5px;
}